.clearfix{
	width: 40%;
	border: 0.5px solid gray;
}
.yellow{
	background-color: #FFFF00;
	height: 100px;
	width: 25%;
	float: right;
}
.blue{
	background-color: #0000BA;
	height: 100px;
	width: 25%;
	float: right;
}
.red{
	background-color: #DC0000;
	height: 100px;
	width: 25%;
	float: right;
}